.background{
    background-color: paleturquoise;
    display: grid;
    height: 100vh;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

}

.head{
    display: grid;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: forestgreen;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-row: 2/3;
    grid-column: 2/3;
}
.eyelid{
    grid-row: 1/2;
    background-color: rgb(20, 87, 20);
    height: 100px;
    width: 201px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    z-index: 3;
    visibility: hidden;

}
.eye{
    grid-row: 1/2;
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    align-self: center;
}

.left{
    grid-column: 1/2;
}
.right{
    grid-column: 3/4;
}

.iris{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: rgb(97, 56, 2);
    height: 70%;
    width: 70%;
    border-radius: 100%;
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr 3fr 1fr;
    align-self: center;
}

.pupil{
    grid-row: 2/3;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
    background-color: black;
}

.mouth{
    background-color: rgb(206, 75, 119);
    grid-row: 3/4;
    grid-column: 1/4;
    width: 300px;
    height: 150px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    justify-self: center;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.nose{
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 2fr 1fr;
}

.nostril{
    height: 40px;
    width: 5px;
    border-radius: 2px;
    background-color: rgb(20, 87, 20);
    grid-row: 2/3;
}

